<!DOCTYPE html>
<html id="page_{{pageid}}">
    <head>
        <title>{{#if title}}{{title}}{{else}}Chuck Harper{{/if}}</title>
        <link rel='stylesheet' href='/css/screen.css' />
        <link rel="stylesheet" href="/css/font-awesome.min.css">
        <link href="/css/mobile.css" rel="stylesheet" type="text/css" media="screen and (max-width: 720px)">
        <script src="https://code.jquery.com/jquery-3.2.1.min.js"
                integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
                crossorigin="anonymous">
        </script>
        <link rel="stylesheet" type="text/css" href="/js/shadowbox-3.0.3/shadowbox.css">
        <script src="/js/shadowbox-3.0.3/shadowbox.js" type="text/javascript"></script>
        <script src="/js/inside.js" type="text/javascript"></script>

        {{{block "head"}}}
    </head>
    <body id="body_{{pageid}}">
    <header>
        <h1><a href="/">{{title}}</a></h1>
    </header>
{{{body}}}
    <footer>
        <ul class="footer_social">
            <li><a href="https://www.facebook.com/chuckharper" rel="external" class="fa fa-facebook-square fa-2x" aria-hidden="true"><span>Facebook</span></a></li>
            <li><a href="https://www.instagram.com/chuckharper/" rel="external" class="fa fa-instagram fa-2x" aria-hidden="true"><span>Instagram</span></a></li>
            <li><a href="https://www.linkedin.com/in/charleswharper/" rel="external" class="fa fa-linkedin-square fa-2x" aria-hidden="true"><span>LinkedIn</span></a></li>
            <li><a href="https://www.pinterest.com/chuckharper/" rel="external" class="fa fa-pinterest-square fa-2x" aria-hidden="true"><span>Pinterest</span></a></li>
            <li><a href="https://www.snapchat.com/add/chuckharper" rel="external" class="fa fa-snapchat-square fa-2x" aria-hidden="true"><span>Snapchat</span></a></li>
            <li><a href="https://twitter.com/chuckharper" rel="external" class="fa fa-twitter-square fa-2x" aria-hidden="true fa-2x"><span>Twitter</span></a></li>
        </ul>
        <div class="copyright">&copy;{{current_year}} Chuck Harper Consulting. All Rights Reserved.</div>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/bookmarks">Bookmarks</a></li>
            <li><a href="/sponsors">Sponsors</a></li>
        </ul>
    </footer>
    </body>
</html>
