<article>

    <p>While working for AEG Live I was frequently asked to add sponsor logos to commerical websites. In 2008, while driving to San Diego Comic Con I had an idea for adding sponsor logos to my personal website, but not just any sponsors, I wanted to use ficitious companies from my favorite movies, televisions shows and novels.</p>
    <p class="addendum">Note: If you hold your mouse over a sponsor logo the tooltip will tell you the name of the company and the movie/tv show/book it&rsquo;s from. If you click on the sponsor logo it will take you to an IMDB or Wikipedia page for the fictional universe the sponsor is from.</p>

    <ul class="sponsor_grid">
    {{#each sponsors}}
        <li>
            <a href="{{link}}" rel="external">
                <img src="{{image}}" alt="{{corp}}" class="{{ort}}" title="{{corp}} [{{ref}}]">
            </a>
        </li>
    {{/each}}
    </ul>
</article>